<h2>Info about this restaurant</h2>

<h3>
<%= @restaurant.name %> :
</h3>
<p><%= @restaurant.address %>, <%= @restaurant.category %></p>

<p>Review</p>
<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content %> : <%= '⭐️' * review.rating %> </li>
<% end %>
</ul>

<%= link_to 'All restaurants', restaurants_path %>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>


